@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: vazir;
}
@font-face {
	font-family: vazir;
	src: url('./fonts/vazir.ttf');
}
h1{
font-size: 40px;
}

h2{
	font-size: 20px;
}
